<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters & Mixins</h1>
                <!-- Exercise 1) -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
                <p>{{ text | reverseText }}</p>
                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
                <p>{{ text | text-length }}</p>
                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->
                <p>{{ compReverse }}</p>
                <p>{{ comLength }}</p>
                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
                <p>{{ mixinReverse }}</p>
                <p>{{ mixinLength }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { textMixin } from './TextMixin';
    export default {
        mixins: [textMixin],
        data(){
            return{
                text : 'text to be reversed'
            };
        },
        filters :{
            reverseText(value){
                console.log(value);
                return value.split("").reverse().join("");
            }
        },
        computed:{
            compReverse(){
                return this.text.split("").reverse().join("");
            },
            comLength(){
                let count =this.text.length;
                return this.text + ' ('+count+')';
            }
        }
    }
</script>

<style>
</style>
